# Install OS instead of upgrade
install
# License agreement
eula --agreed
# Use text mode install
text
# Use network installation
url --url="http://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/32/Everything/x86_64/os/"


%post
yum -y update && yum -y upgrade
#mkdir /root/.ssh
#curl /id_rsa.pub > /root/.ssh/authorized_keys
#sed -i 's/PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config
sed -i 's/console=ttyS0"/console=ttyS0 net.ifnames=0 biosdevname=0"/' /etc/default/grub
grub2-mkconfig > /boot/grub2/grub.cfg
%end

%packages
@core
wget

%end

# Keyboard layouts
keyboard --vckeymap=be-oss --xlayouts='be (oss)'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth0 --activate
network  --hostname=fedora32

# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"

ignoredisk --only-use=vda
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone Europe/Paris --utc

# Root password
rootpw --plaintext testtest

%addon com_redhat_kdump --disable --reserve-mb='128'

%end
